* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.my-hover:before {
    content: "";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background-color: hsl(200 100% 80%);
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    animation: fade-in forwards;
    z-index: -1;
    transition: transform .3s ease;
}
.my-hover:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#header {
 display: flex;
 align-content: center;
 justify-content: space-between;
 height: 60px;
 background-color: #524FEC;
 margin: 8px;
 border-radius: 5px;
 position: absolute;
 left: 0;
 top: 0;
 right: 0;
 z-index: 3;
}

#header .header_left {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 8px;
}

#header .header_left img {
    width: 50px;
    height: 50px;
}

#header .header_left h3 {
    margin-left: 8px;
}

#header .header_center {
    display: flex;
    align-items: center;
    padding: 8px;
}

#header .header_center li {
   padding: 8px;
   margin: 0 4px;
   position: relative;
}

#header .header_center li:hover a {
    color: #000;
}

#header .header_center li a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

#header .header_right {
    display: flex;
    align-items: center;
    padding: 8px;
}

#header .header_right .header_right-item {
    display: flex;
    color: #fff;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    position: relative;
    align-items: center;
}

#header .header_right .header_right-item:hover {
    color: #000;
}

#header .header_right .header_right-item i{
    margin-right: 8px;
}

#header .header_right .login {
   border-right: 2px solid #fff;
}

/* Giao diện chọn ghế */
#content {
    margin-top: 80px;
}
#content #ticket-infor {
    display: flex;
    padding: 8px;
    justify-content: space-around;
    align-items: center;
}

#content #ticket-infor .ticket-infor-item {
    display: flex;
    flex-direction: column;
    position: relative;
}
#content #ticket-infor .location-time p{
    margin-top: 8px;
}
#content #ticket-infor .ticket-infor-item p + p {
    margin-top: 16px;
}
#content #ticket-infor .ticket-infor-item::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #000;
    left: -16px;
}
#content #ticket-infor .view-detail a {
    text-decoration: underline;
}
#content #ticket-diagram-gh-16 {
    display: flex;
    padding: 8px;
}
#content #ticket-diagram-gh-16 .left{
    width: 70%;
    height: auto;
}
#content #ticket-diagram-gh-16 .right{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content #ticket-diagram-gh-16 .left .ticket-diagram {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content #ticket-diagram-gh-16 .left h1{
    background-color: #524FEC;
    width: 60%;
    padding: 4px 16px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 16px;
    border: 1px solid #000;
    color: #fff;
}

#content #ticket-diagram-gh-16 .ticket-diagram .driver,
#content #ticket-diagram-gh-16 .ticket-diagram .ticket {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-self: flex-end;
    box-sizing: border-box;
}
#content #ticket-diagram-gh-16 .ticket-diagram .ticket {
    margin-top: 8px;
}
#content #ticket-diagram-gh-16 .ticket-diagram .ticket:hover {
    opacity: .8;
}
#content #ticket-diagram-gh-16 img {
    width: 30px;
    height: 30px;
}
#content #ticket-diagram-gh-16 .not-available {
    color: red;
}
#content #ticket-diagram-gh-16 .choose {
    color: blue;
}
#content #ticket-diagram-gh-16 .left i {
    font-size: 30px;
}
#content #ticket-diagram-gh-16 .left p {

    margin-top: 4px;

    text-align: left;
}
#content #ticket-diagram-gh-16 .left button {
    width: 360px;
    margin: 0 auto;
    margin-top: 40px;
    height: 60px;
    text-align: center;
    border-radius: 30px;
    background-color: #524FEC;

}
#content #ticket-diagram-gh-16 .ticket-diagram .diagram {
    display: grid;
    padding: 16px;
    border: 1px solid;
    border-radius: 5px;
    width: 60%;

}
#content #ticket-diagram-gh-16 .ticket-diagram .infoUser {
    display: grid;
    padding: 16px;
    border: 1px solid;
    border-radius: 5px;
    width: 60%;

}
#content #ticket-diagram-gh-16 .ticket-diagram .infoUser label {
    width: 30%;
    display: inline-block;
    padding: 10px;
    text-align: right;
    font-size: 16px;

}

#content #ticket-diagram-gh-16 .ticket-diagram .chooseCard {
    display: grid;
    padding: 16px;
    border: 1px solid;
    border-radius: 5px;
    width: 60%;

}
#content #ticket-diagram-gh-16 .ticket-diagram .enterCard {
   display: block;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    width: 60%;

}
#content #ticket-diagram-gh-16 .ticket-diagram .summitFinal {
    display: block;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;



}
#content #ticket-diagram-gh-16 .ticket-diagram .enterCard label{
    width: 30%;
    display: inline-block;
    padding: 10px;
    text-align: right;
    font-size: 20px;

}
#content #ticket-diagram-gh-16 .ticket-diagram .enterCard input{
    width: 60%;
    display: inline-block;
    text-align: center;
    font-size: 20px;

}
#content #ticket-diagram-gh-16 .ticket-diagram .enterCard .summitFinal button {
    margin: 0 auto;
    border-radius: 30px;
    background-color: #524FEC;
    width: 30%;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: #eeeeee;

}
#content #ticket-diagram-gh-16 .ticket-diagram .verification {
    display: block;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    width: 60%;

}
#content #ticket-diagram-gh-16 .left h3 {

    margin-top: 4px;
    border: 1px solid;
    text-align: center;
}

#content #ticket-diagram-gh-16 .ticket-diagram .driver {
    grid-column: 1 / span 2;
}
#content #ticket-diagram-gh-16 .left .choose-diagram {
    width: 60%;
    padding: 4px 16px;
    border-radius: 5px;
    margin-top: 16px;
    line-height: 40px;
    border: 1px solid #000;
    height: 40px;
    text-align: center;
    color: #ff253a;

}
#content #ticket-diagram-gh-16 .right .note {
    margin-top: 64px;
    width: 80%;
}
#content #ticket-diagram-gh-16 .right h1 {
    background-color: #524FEC;
    padding: 4px 16px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 16px;
    border: 1px solid #000;
    color: #fff;
    font-size: 20px;
}
#content #ticket-diagram-gh-16 .right .note-list {
    border: 1px solid #000;
    padding: 8px;
}
#content #ticket-diagram-gh-16 .right .note-item {
    display: flex;
    font-size: 20px;
}
#content #ticket-diagram-gh-16 .right .note-item + .note-item {
    margin-top: 16px;
}
#content #ticket-diagram-gh-16 .right .note-item i {
    margin-right: 8px;
}
#content #ticket-diagram-gh-16 .right .book-ticket {
    width: 80%;
    padding: 4px 16px;
    border-radius: 5px;
    margin-top: 16px;
    line-height: 40px;
    border: 1px solid #000;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    background-color: #524FEC;
    color: #fff;
    font-size: 32px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
#content #ticket-diagram-gh-16 .right .book-ticket:hover {
    color: #000;
}
#notification-background {
    position: absolute;
    width: 100%;
    height: calc(100% + 130px);
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: none;
}
#notification-background.show {
    display: flex;
}
#notification-background .notification {
    z-index: 6;
    width: 600px;
    height: 100px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
#notification-background .notification h1 {
    color: red;
    margin-top: 16px;
}
#notification-background .notification .ok {
    padding: 10px 20px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: #524FEC;
    color: #fff;
    position: relative;
    cursor: pointer;
    z-index: -1;
    margin-top: 16px;
    margin-bottom: 16px;
}
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #524FEC;
    margin: 8px;
    border-radius: 5px;
    z-index: 3;
    color: #fff;
    font-size: 32px;
}
/* Kết giao diện chọn ghế */
/* Giao diện đặt vé */
#content .process-book-ticket {
    display: flex;
    justify-content: space-around;
    position: relative;
}

#content .process-book-ticket .step-process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

#content .process-book-ticket .step-process .step-num {
    font-size: 40px;
    font-weight: bold;
    background-color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    border: 5px solid #000;
    margin-top: 16px;
}

#content .process-book-ticket .process-bar {
    position: absolute;
    height: 10px;
    background-color: #524FEC;
    width: 15%;
    left: 0;
    bottom: 30px;
    z-index: -1;
}

#content .process-book-ticket .active {
    color: #524FEC;
}


#content .process-book-ticket .active .step-num {
    border: 5px solid #524FEC;
}

#content .step.show {
    display: flex !important;
}

#content .step {
    padding: 16px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin: 32px;
    position: relative;
}


#content .step:after {
    bottom: 75px;
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #000;
}

#content .step > .step-title {
    margin-top: 16px;
    margin-right: 40px;
}
#content .step .step-content {
    margin-top: 16px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#content .step .step-content .ticket {
    margin: 8px;
    padding: 16px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content .step .step-content .ticket p + p {
    margin-top: 8px;
}

#content .step .step-actions {
    margin-top: 16px;
    box-sizing: border-box;
    width:  calc(100% - 16px);
    display: flex;
    justify-content: space-between;
}

#content .step .step-actions .total-price {
    font-size: 20px;
    padding: 8px 32px;
}

#content .step .step-actions .btn{
    background-color: #524FEC;
    padding: 8px 32px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

#content .palce-point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content .palce-point label {
    font-size: 32px;
    font-weight: bold;
}

#content .palce-point select {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 25px;
    width: 350px;
    text-align: center;
}

#content #step-3 form {
    width: 100%;
}

#content #step-3 form .form-group{
    text-align: left;
}

#content #step-3 form .form-group + .form-group{
    margin-top: 16px;
}

#content #step-3 form label {
    width: 30%;
    display: inline-block;
    text-align: right;
    font-size: 20px;
}

#content #step-3 form input {
    width: 40%;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
}

/* Kết giao diện đặt vé */