#content .khungtrang{
    width: 100%;
    text-align: center;
    position: relative;
}
#content .khungtrang #trangKhung1{
    display: none;
}
#content .khungtrang img{
    width: 98vw;
}
#content .khungtrang i{
    position: absolute;
    top: calc(50% - 18px);
    font-size: 36px;
    color: #fff;
    cursor: pointer;
}
#content .khungtrang i.fa-chevron-circle-left {
    left: 10px;
}
#content .khungtrang i.fa-chevron-circle-right {
    right: 10px;
}
#content #Search {
    width: 100%;
    margin-top: 16px;
    text-align: center;
}
#content #Search form {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#content #Search .form-group {
    display: inline-block;
    position: relative;
}
#content #Search .form-group + .form-group {
    margin-left: 20px;
}
#content #Search .form-group label {
    font-size: 16px;
    font-weight: bold;
}
#content #Search .form-group input {
    padding: 8px 16px;
    outline: none;
    font-size: 16px;
<<<<<<< HEAD
    font-weight: bold;
    line-height: 25px;
    position: relative;
    align-items: center;
}

#header .header_right .header_right-item:hover {
    color: #000;
}

#header .header_right .header_right-item i{
    margin-right: 8px;
}

#header .header_right .login {
    border-right: 2px solid #fff;
}
/*khung trang*/
.khungtrang{
    margin: 17.8%;
    margin-top: 7%;
}


#trangKhung1 {
    width: 100%;
    height: 500px;
    margin: -1px;
    margin-top: 0px;
    display: none;
}

.khungtrang .fa-chevron-circle-left {
    position: absolute;
    z-index: 2;
    color: #1fb5d4;
    font-size: 270%;
    margin-left: 2%;
    margin-top: 10%;
=======
    width: 400px;
>>>>>>> luanBranch
}
#content #Search form i {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
<<<<<<< HEAD
    z-index: 2;
    color: #1fb5d4;
    font-size: 270%;
    margin-left: -6%;
    margin-top: 10%;
}

.khungtrang .fa-chevron-circle-right:hover {
    cursor: pointer;
}

.khungtrang .fa-chevron-circle-right:hover #trangKhung1 {
    cursor: pointer;
}
/*tim kiem*/
#Search{
margin-left: 15%;
    margin-top: -15%;
=======
    top: 25%;
    right: 10px;
>>>>>>> luanBranch
}
#content .schedule-scroll .groups {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#content .schedule-scroll {
    width: 96%;
    max-height: 500px;
    overflow: scroll;
    position: relative;
}
#content .schedule-scroll .groups table {
    border: 1px solid #d5d5d5;
    width: calc(96% + 4px);
    border-spacing: 0;
}
#content .schedule-scroll .groups table .table-head {
    position: sticky;
    background-color: #f6f6f6;
    height: 50px;
    text-align: center;
    top: 0;
}
#content .schedule-scroll .groups table tbody {
    text-align: center;
}
#content .schedule-scroll table .title {
    text-align: left;
    height: 50px;
    background-color: #fff7f5;
    color: #f15a24;
}
<<<<<<< HEAD
.schedule-scroll .schedule-table thead {
    font-size: 18px;
}
.schedule-scroll .schedule-table .title{
    color: orangered;
}
.schedule-scroll .schedule-table .time-detail{
    color: green;
}
.schedule-scroll .schedule-table .title{
font-family: SFProText;
font-size: 16px;
font-weight: 600;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
color: #f15a24;
}
.schedule-scroll .schedule-table .item{
    height: 45px;
}
=======
#content .schedule-scroll table .title th {
    padding: 0 10px;
}
#content .schedule-scroll table .schedule-route-name {
    text-align: left;
    padding: 0 30px;
}
#content .schedule-scroll table .schedule-route-name button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
#content .schedule-scroll table .item {
    height: 40px;
}
#content .schedule-scroll table .time button {
    color: #009344;
}

#content .schedule-scroll table .end .buy-btn {
    border-radius: 5px;
    padding: 4px 8px;
    border: none;
    outline: 1px solid #000;
}
#content .schedule-scroll table .end .buy-btn:hover {
    background-color: #f15a24;
}
>>>>>>> luanBranch
