* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.my-hover:before {
    content: "";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background-color: hsl(200 100% 80%);
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    animation: fade-in forwards;
    z-index: -1;
    transition: transform .3s ease;
}
.my-hover:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 60px;
    background-color: #524FEC;
    margin: 8px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
}

#header .header_left {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 8px;
}

#header .header_left img {
    width: 50px;
    height: 50px;
}

#header .header_left h3 {
    margin-left: 8px;
}

#header .header_center {
    display: flex;
    align-items: center;
    padding: 8px;
}

#header .header_center li {
    padding: 8px;
    margin: 0 4px;
    position: relative;
}

#header .header_center li:hover a {
    color: #000;
}

#header .header_center li a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

#header .header_right {
    display: flex;
    align-items: center;
    padding: 8px;
}

#header .header_right .header_right-item {
    display: flex;
    color: #fff;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    position: relative;
    align-items: center;
}

#header .header_right .header_right-item:hover {
    color: #000;
}

#header .header_right .header_right-item i{
    margin-right: 8px;
}

#header .header_right .login {
    border-right: 2px solid #fff;
}
/*khung trang*/
.khungtrang{
    margin : 10%;
    margin-top: 6%;
}
#trangKhung1 {
    width: 100%;
    height: 500px;
    margin: -1px;
    margin-top: 0px;
    display: none;
}

.khungtrang .fa-chevron-circle-left {
    position: absolute;
    z-index: 2;
    color: #1fb5d4;
    font-size: 270%;
    margin-left: 2%;
    margin-top: 10%;
}

.khungtrang .fa-chevron-circle-left:hover {
    cursor: pointer;
}

.khungtrang .fa-chevron-circle-right {
    position: absolute;
    z-index: 2;
    color: #1fb5d4;
    font-size: 270%;
    margin-left: -6%;
    margin-top: 10%;
}

.khungtrang .fa-chevron-circle-right:hover {
    cursor: pointer;
}

.khungtrang .fa-chevron-circle-right:hover #trangKhung1 {
    cursor: pointer;
}
/*tim kiem*/
#Search{
margin-left: 12%;
    margin-top: -9%;
}

#Search .start{
    width: 35%;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #bdbdbd;
    padding: 0 30px 0 14px;
    margin: 0;

}
/*lich*/
.schedule-scroll {
    width: 100%;
    overflow: scroll;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.schedule-table {
    max-width: 936px;
    width: inherit;
    height: 714px;
    margin-bottom: 24px;
}
.schedule-container table {
    width: 936px;
    margin: 0;
}
.groups, .schedule-container thead {
    width: 936px;
}
.schedule-container .table-head {
    width: 100%;
    height: 42px;
    border-radius: 8px;
    border: 2px solid #d5d5d5;
    background-color: #f6f6f6;
    font-size: 18px;

}
.schedule-container .table-head th {
    height: 16px;
    font-size: 14px;
    font-weight: 700;
    color: #141414;
    padding-left: 24px;
}
.schedule-scroll .schedule-table .group-table {
    width: 100%;
    border: 1px solid #000;
}
.schedule-scroll .schedule-table th {

    text-align: left;
}
.schedule-scroll .schedule-table td {
    text-align: left;
}
.schedule-scroll .schedule-table thead {
    font-size: 18px;
}
.schedule-scroll .schedule-table .title{
    color: orangered;
}
.schedule-scroll .schedule-table .time-detail{
    color: green;
}
.schedule-scroll .schedule-table .title{
font-family: SFProText;
font-size: 16px;
font-weight: 600;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
color: #f15a24;
}
.schedule-scroll .schedule-table .item{
    height: 45px;
}
/*Layout3*/
#layout7 {
    margin-left: 2px;
    font-size: 12px;
}
#layout7 .thanhDuoi {
    width: 100%;
    height: 270px;
    background: #524FEC;
    margin-top: 50px;
    color: #fff;
}

#layout7 .thanhDuoi .tenWeb {
    margin-left: 30px;
    float: left;
    clear: right;
    width: 300px;
    margin-right: 70px;
}

#layout7 .thanhDuoi .tenWeb .hotline .fa-phone-square {
    float: left;
    clear: right;
    font-size: 200%;
    margin-right: 10px;
}

#layout7 .thanhDuoi .tenWeb .hotline a {
    color: black;
}

#layout7 .thanhDuoi .tenWeb .hotline .fa-phone-square:hover {
    color: white;
    cursor: pointer;
}

#layout7 .thanhDuoi .tenWeb .hotline .line {
    font-size: 150%;
    color: white;
}

#layout7 .thanhDuoi .thongTin {
    float: left;
    clear: right;
    margin-right: 50px;
}

#layout7 .thanhDuoi .thongTin .right .fa {
    float: left;
    clear: right;
    margin-right: 10px;
}

#layout7 .thanhDuoi .thongTin .right .noiDung {
    margin-left: 20px;
}

#layout7 .thanhDuoi .NoiDung .hoTro .chucNang {
    float: left;
    clear: right;
    margin-right: 100px;
}

#layout7 .thanhDuoi .NoiDung .hoTro .chucNang a {
    color: #fff;
    text-decoration: none;
}

#layout7 .thanhDuoi .NoiDung .hoTro .chucNang a:hover {
    color: white;
    cursor: pointer;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left {
    float: left;
    clear: right;
    margin-top: 220px;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left {
    margin-top: -200px;
    float: left;
    clear: right;
    margin-left: -782px;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left .mang {
    border-radius: 100px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left .mang:hover {
    cursor: pointer;
    color: white;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right {
    margin-top: -130px;
    float: left;
    clear: right;
    margin-left: -782px;

}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right .mang {
    border-radius: 5px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right .mang:hover {
    cursor: pointer;
    color: white;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .nhanTin {
    float: left;
    clear: right;
    margin-right: 30px;
    margin-left: 200px;
    margin-top: 50px;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .email {
    float: left;
    clear: right;
    width: 400px;
    height: 50px;
    background: white;
    margin-top: 100px;
    border-radius: 10px;
    margin-left: -310px;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .fromDangKi {
    float: left;
    clear: right;
    width: 120px;
    height: 50px;
    background: white;
    color: black;
    margin-top: -55px;
    border-radius: 10px;
    margin-left: 1280px;
    font-size: 190%;
    border: 1px solid black;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .fromDangKi:hover {
    background: lightsalmon;
    color: white;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .fromDangKi .dangKi {
    margin-top: 8px;
    margin-left: 15px;
}